.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  background-color: aquamarine;
  max-width: 600px;
  margin: 0 auto;
}
.inputs {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.inputs {
  display: flex;
  flex-direction: column;
  position: relative;
}
.input {
  border-radius: 5px;
  padding: 5px 10px;
}
.label {
  font-size: 14px;
}
.button {
  background-color: green;
  padding: 10px 5px;
  color: white;
  border: none;
  border-radius: 5px;
}
